nav {
  justify-content: center;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: row;
}